<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Readymade</string>

    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

    <key>CFBundleExecutable</key>
    <string>Readymade</string>

    <key>CFBundleVersion</key>
    <string>1.0</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <key>CFBundleIconFile</key>
    <string>hkp.icns</string>

    <key>NSMicrophoneUsageDescription</key>
    <string>This app needs microphone access to capture audio input.</string>

    <key>NSCameraUsageDescription</key>
    <string>This app needs camera access to capture video input.</string>

    <!-- File type definition -->
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.readymadeit.hkpp</string>
            <key>UTTypeDescription</key>
            <string>HKP Application File</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>hkpp</string>
                </array>
            </dict>
        </dict>
    </array>

    <!-- App handles this file -->
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>HKP Application</string>

            <key>CFBundleTypeRole</key>
            <string>Editor</string>

            <key>LSHandlerRank</key>
            <string>Owner</string>

            <key>LSItemContentTypes</key>
            <array>
                <string>com.readymadeit.hkpp</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
